<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.venkykowshik.plugins.camera"
    version="1.9.3">

    <name>Custom Camera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>custom,camera</keywords>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="www/js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="ios-package" value="CustomCamera" />
        </feature>
    </config-file>
    <framework src="AVFoundation.framework" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCamera.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Category/UIImage+CameraFilters.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraAuthorizationViewController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraNavigationController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraViewController.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGPhotoViewController.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAlbum.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAssetsLibrary.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCamera.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraColor.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFlash.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFocus.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFunctions.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraGrid.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraShot.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraToggle.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Model/TGAssetImageFile.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFilterView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFocusView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraGridView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideDownView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideUpView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedButton.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedLabel.h" />
    
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Category/UIImage+CameraFilters.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraAuthorizationViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraNavigationController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGPhotoViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAlbum.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAssetsLibrary.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraColor.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFlash.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFocus.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraGrid.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraShot.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraToggle.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Model/TGAssetImageFile.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFilterView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFocusView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraGridView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideDownView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideUpView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedButton.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedLabel.m" />
    
</platform>

<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="android-package" value="com.performanceactive.plugins.camera.CustomCamera"/>
        </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.performanceactive.plugins.camera.CustomCameraActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
        <activity android:name="com.performanceactive.plugins.camera.ImageFiltersActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
        <activity android:name="com.performanceactive.plugins.camera.ProductScreenActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
        <activity android:name="com.performanceactive.plugins.camera.CropActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
    </config-file>
    
     <source-file src="platforms/android/assets/Fonts/ARIALUNI.TTF" target-dir="assets/Fonts" />
     
     <source-file src="platforms/android/res/values/attrs.xml" target-dir="res/values" />
    
    <source-file src="platforms/android/res/drawable-hdpi/bluer.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/brighten.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/darken.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/grayscale.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/greener.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/noise.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/none.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/redder.png" target-dir="res/drawable-hdpi" />
    <source-file src="platforms/android/res/drawable-hdpi/sepia.png" target-dir="res/drawable-hdpi" />
     <source-file src="platforms/android/res/drawable-hdpi/arrow_back_icon.png" target-dir="res/drawable-hdpi" />
      <source-file src="platforms/android/res/drawable-hdpi/right_icon.png" target-dir="res/drawable-hdpi" />
      <source-file src="platforms/android/res/drawable-hdpi/back.png" target-dir="res/drawable-hdpi" />
      <source-file src="platforms/android/res/drawable-hdpi/exist.png" target-dir="res/drawable-hdpi" />
      <source-file src="platforms/android/res/drawable-hdpi/next.png" target-dir="res/drawable-hdpi" />
    

    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCamera.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCameraActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ImageFiltersActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ProductScreenActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
       <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CameraPreview.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/FakeR.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/TextureRenderer.java" target-dir="src/com/performanceactive/plugins/camera" />
      <source-file src="platforms/android/src/com/performanceactive/plugins/camera/GLToolbox.java" target-dir="src/com/performanceactive/plugins/camera" />
    
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ImageParameters.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ImageUtility.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ResizeAnimation.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/SquareCameraPreview.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ConvolutionMatrix.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/ImageFilters.java" target-dir="src/com/performanceactive/plugins/camera" />
     
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/BitmapCroppingWorkerTask.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/BitmapLoadingWorkerTask.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/BitmapUtils.java" target-dir="src/com/performanceactive/plugins/camera" />
       <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropDefaults.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropImageView.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropOverlayView.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropWindowHandler.java" target-dir="src/com/performanceactive/plugins/camera" />
     <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CropWindowMoveHandler.java" target-dir="src/com/performanceactive/plugins/camera" />
    
    <source-file src="platforms/android/res/layout/activity_main.xml" target-dir="res/layout" />
    <source-file src="platforms/android/res/layout/activity_filters.xml" target-dir="res/layout" />
     <source-file src="platforms/android/res/layout/activity_add_product.xml" target-dir="res/layout" />
     <source-file src="platforms/android/res/layout/crop_image_view.xml" target-dir="res/layout" />
     <source-file src="platforms/android/res/layout/activity_crop.xml" target-dir="res/layout" />
     
   

<source-file src="platforms/android/res/drawable-hdpi/capture_button.png" target-dir="res/drawable-hdpi" />
<source-file src="platforms/android/res/drawable-hdpi/gallery.png" target-dir="res/drawable-hdpi" />
<source-file src="platforms/android/res/drawable-hdpi/flash.png" target-dir="res/drawable-hdpi" />
<source-file src="platforms/android/res/drawable-hdpi/close.png" target-dir="res/drawable-hdpi" />
<source-file src="platforms/android/res/drawable-hdpi/switch_camera.png" target-dir="res/drawable-hdpi" />




     

</platform>

</plugin>
