<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.venkykowshik.plugins.camera"
    version="1.2.4">

    <name>Custom Camera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>custom,camera</keywords>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="www/js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="ios-package" value="CustomCamera" />
        </feature>
    </config-file>
    <framework src="AVFoundation.framework" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCamera.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Category/UIImage+CameraFilters.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraAuthorizationViewController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraNavigationController.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraViewController.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGPhotoViewController.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAlbum.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAssetsLibrary.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCamera.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraColor.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFlash.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFocus.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFunctions.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraGrid.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraShot.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraToggle.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Model/TGAssetImageFile.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFilterView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFocusView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraGridView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideDownView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideUpView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideView.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedButton.h" />
     <header-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedLabel.h" />
    
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Category/UIImage+CameraFilters.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraAuthorizationViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraNavigationController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGCameraViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Control/TGPhotoViewController.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAlbum.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGAssetsLibrary.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraColor.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFlash.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraFocus.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraGrid.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraShot.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Helper/TGCameraToggle.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/Model/TGAssetImageFile.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFilterView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraFocusView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraGridView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideDownView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideUpView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGCameraSlideView.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedButton.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/TGCameraViewController/Classes/UI/TGTintedLabel.m" />
    
</platform>

<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="android-package" value="com.performanceactive.plugins.camera.CustomCamera"/>
        </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.performanceactive.plugins.camera.CustomCameraActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
    </config-file>
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCamera.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCameraActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CameraPreview.java" target-dir="src/com/performanceactive/plugins/camera" />
</platform>

</plugin>
